<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{housingLocation.name}}</mat-card-title>
    <mat-card-subtitle>{{housingLocation.city}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="housingLocation.photo" alt="City Image">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
